.text {
    perspective: 10em;
    text-align: center;
    height: 6em;
}

span {
    display: inline-flex;
    color: blue;
    font-size: 5em;
    font-family: "algerian";
    font-weight: bolder;
    align: center;
}

span:nth-child(1) { animation: flipUp 1s; }

span:nth-child(2) { animation: flipUp 2s; }

span:nth-child(3) { animation: flipUp 3s; }

span:nth-child(4) { animation: flipUp 4s; }

span:nth-child(5) { animation: flipUp 5s; }

span:nth-child(6) { animation: flipUp 6s; }

span:nth-child(7) { animation: flipUp 7s; }

@keyframes flipUp {
    from { transform: rotateX(90deg); }

    to { transform: rotateX(0deg); }
}
